.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 80vh; /* Ajusta la altura según sea necesario */
    background-color: #f5f7fa;
  }
  
  .home-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-right: 20px;
  }
  
  .home-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .home-text p {
    font-size: 18px;
    color: #666;
  }
  
  .home-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .home-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain; /* Ajusta la imagen dentro del contenedor */
  }
  